.choose-size {
  input[type="radio"]:checked + label {
    div {
      background-color: #b88e2f;
    }
  }
}
.choose-color {
  input[type="radio"]:checked + label {
    div {
      border: 2px solid black;
    }
  }
}

.choose-payment {
  input[type="radio"]:checked + label {
    color: black;
    p {
      color: black;
    }
  }
}

th,
td {
  text-align: start;
  padding: 25px 0;
}
